name: Keep workflows alive

# Controls when the action will run. 
on:
  schedule:
    - cron:  '0 0 * * 6'
  workflow_dispatch:

jobs:
  keep-alive:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/keepalive-workflow@v2
        with:
          time_elapsed: 40
