name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - name: Install ROOT dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install libtbb12
    - name: Download ROOT
      run: |
        TARBALL=root_v6.34.08.Linux-ubuntu24.04-x86_64-gcc13.3.tar.gz
        wget --no-verbose https://root.cern/download/${TARBALL}
        tar -xzvf ${TARBALL}
    - name: make
      run: |
        source root/bin/thisroot.sh
        make
